<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StipendManagerMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_STIPENDMANAGER
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		STIPEND_NAME,	
		STIPEND_USER_NAME,	
		STIPEN_WEAL_JOURNEY,	
		STIPEN_WEAL_LUNCH,
		GTIPEND_DATE,	
		BASE_STIPEND,
		STIPENDTYPE_ID,
		STIPEND_WEAL,	
		STATUS,	
		STIPENDMANAGER_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{STIPEND_NAME},	
		#{STIPEND_USER_NAME},	
		#{STIPEN_WEAL_JOURNEY},	
		#{STIPEN_WEAL_LUNCH},
		#{GTIPEND_DATE},	
		#{BASE_STIPEND},
		#{STIPENDTYPE_ID},
		#{STIPEND_WEAL},	
		#{STATUS},	
		#{STIPENDMANAGER_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 逻辑删除-->
	<update id="delete" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		STATUS = 3
		where
		STIPENDMANAGER_ID = #{STIPENDMANAGER_ID}
	</update>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			STIPEND_NAME = #{STIPEND_NAME},
			STIPEND_USER_NAME = #{STIPEND_USER_NAME},
			STIPEN_WEAL_JOURNEY = #{STIPEN_WEAL_JOURNEY},
			STIPEN_WEAL_LUNCH = #{STIPEN_WEAL_LUNCH},
			GTIPEND_DATE = #{GTIPEND_DATE},
		    STIPENDTYPE_ID = #{STIPENDTYPE_ID},
			STIPEND_WEAL = #{STIPEND_WEAL},
		STATUS = #{STATUS},
		STIPENDMANAGER_ID = STIPENDMANAGER_ID
		where 
		STIPENDMANAGER_ID = #{STIPENDMANAGER_ID}
	</update>

	<!--  审核 -->
	<update id="audit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		STATUS = #{STATUS}
		where
		STIPENDMANAGER_ID = #{STIPENDMANAGER_ID}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			STIPENDMANAGER_ID = #{STIPENDMANAGER_ID}
		and STATUS != 3
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			s.STIPEND_NAME,
			s.STIPEND_USER_NAME,
			s.STIPEN_WEAL_JOURNEY,
			s.STIPEN_WEAL_LUNCH,
			s.GTIPEND_DATE,
			s.BASE_STIPEND,
			s.STIPENDTYPE_ID,
			s.STIPEND_WEAL,
			s.STATUS,
			s.STIPENDMANAGER_ID,
		    t.STIPENDNAME as STIPEND_TYPE_NAME
		from
		<include refid="tableName"></include> s left join tb_stipendtype t on 	t.STIPENDTYPE_ID = s.STIPENDTYPE_ID
		where 1=1
		and STATUS != 3
		<if test="pd.STIPENDTYPE_ID != null and pd.STIPENDTYPE_ID != ''">
			and s.STIPENDTYPE_ID = #{pd.STIPENDTYPE_ID}
		</if>
		<if test="pd.STIPENDMANAGER_ID != null and pd.STIPENDMANAGER_ID != ''">
			and s.STIPENDMANAGER_ID = #{pd.STIPENDMANAGER_ID}
		</if>
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件 -->
			s.STIPEND_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or
			s.STIPEND_USER_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		<if test="pd.lastStart!=null and pd.lastStart!=''"><!-- 开始时间检索 -->
			and s.GTIPEND_DATE &gt;= #{pd.lastStart}
		</if>
		<if test="pd.lastEnd!=null and pd.lastEnd!=''"><!-- 结束时间检索 -->
			and s.GTIPEND_DATE &lt;= #{pd.lastEnd}
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
			s.STIPEND_NAME,
			s.STIPEND_USER_NAME,
			s.STIPEN_WEAL_JOURNEY,
			s.STIPEN_WEAL_LUNCH,
			s.GTIPEND_DATE,
			s.BASE_STIPEND,
			s.STIPENDTYPE_ID,
			s.STIPEND_WEAL,
			s.STATUS,
			s.STIPENDMANAGER_ID,
			t.STIPENDNAME as STIPEND_TYPE_NAME
		from 
		<include refid="tableName"></include> s left join tb_stipendtype t on 	t.STIPENDTYPE_ID = s.STIPENDTYPE_ID
		where 1=1
		and STATUS != 3
		<if test="pd.STIPENDTYPE_ID != null and pd.STIPENDTYPE_ID != ''">
			and s.STIPENDTYPE_ID = #{pd.STIPENDTYPE_ID}
		</if>
		<if test="pd.STIPENDMANAGER_ID != null and pd.STIPENDMANAGER_ID != ''">
			and s.STIPENDMANAGER_ID = #{pd.STIPENDMANAGER_ID}
		</if>
	</select>
	
	<!-- 逻辑 批量删除 -->
	<update id="deleteAll" parameterType="String">
		update
		<include refid="tableName"></include>
		set
		STATUS = 3
		where 
			STIPENDMANAGER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>

	<select id="findCount"  parameterType="pd" resultType="pd">
		select
		  count(*) zs
		from
		<include refid="tableName"></include> s
		where 1=1
		<if test="pd.STIPENDMANAGER_ID != null and pd.STIPENDMANAGER_ID !=''">
			and s.STIPENDMANAGER_ID = #{STIPENDMANAGER_ID}
		</if>
		<if test="pd.STIPENDTYPE_ID != null and pd.STIPENDTYPE_ID != ''">
			and s.STIPENDTYPE_ID = #{pd.STIPENDTYPE_ID}
		</if>
		and STATUS != 3
	</select>

	<!-- lxc 1094921525qq -->
</mapper>